/* 404.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.text p {
    margin: 20px 0;
}

button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}